---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title = "Huánuco - Región Natural y Cultural" } = Astro.props;
---
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <Header /> 
	<main>
        <slot /> 
	</main>
    <Footer />
</body>
</html>

<style is:global>
/* Estilos globales que aplican a todo el sitio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
    background-color: #0a0e0d;
}

main {
    min-height: 100vh;
}
</style>